@{ 

    Layout = null;
}
<section id="pricing-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Only quality for clients</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Pricing Table Conatent Start -->
        <div class="row">
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>BUSINESS</h3>
                    <h2>$ 55.99</h2>
                    <h5>PER MONTH</h5>

                    <ul class="package-list">
                        <li>FREE VEHICLE DELIVERY</li>
                        <li>WEDDINGS CELEBRATIONS</li>
                        <li>FULL INSURANCE INCLUDED</li>
                        <li>TRANSPORT ABROAD</li>
                        <li>ALL INCLUSIVE MINI BAR</li>
                        <li>CHAUFFER INCLUDED IN PRICE</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>Trial</h3>
                    <h2>Free</h2>
                    <h5>PER MONTH</h5>

                    <ul class="package-list">
                        <li>FREE VEHICLE DELIVERY</li>
                        <li>OTHER CELEBRATIONS</li>
                        <li>FULL INSURANCE</li>
                        <li>TRANSPORT ABROAD</li>
                        <li>MINI BAR</li>
                        <li>INCLUDED IN PRICE</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>standard</h3>
                    <h2>$ 35.99</h2>
                    <h5>PER MONTH</h5>

                    <ul class="package-list">
                        <li>DELIVERY AT AIRPORT</li>
                        <li>WEDDINGS AND OTHER</li>
                        <li>FULL INCLUDED</li>
                        <li>TRANSPORT ABROAD</li>
                        <li>ALL MINI BAR</li>
                        <li>CHAUFFER PRICE</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
        </div>
        <!-- Pricing Table Conatent End -->
    </div>
</section>
<!--== Pricing Area End ==-->
