

<h2>Araba Markası Ekle</h2>

<form method="post">

    <input name="PackageName" class="form-control" placeholder="Paket Adı" />

    <input name="Price" class="form-control" placeholder="Fiyat" />
    <button>Kaydet</button>
</form>
