
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #lgoin-page-wrap{

        margin-top:75px;
    }
</style>
 <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 m-auto">
                	<div class="login-page-content">
                		<div class="login-form">
                			<h3>Welcome Back!</h3>
							<form  method="post">
								<div class="username">
									<input type="text" name="Username" placeholder="Email or Username">
								</div>
								<div class="password">
									<input type="password" name="Password" placeholder="Password">
								</div>
								<div class="log-btn">
									<button type="submit"><i class="fa fa-sign-in"></i> Giriş Yap</button>
								</div>
							</form>
                		</div>
                        <div class="text-right">
                            <a href="/Login/Register/" class="btn btn-success">Kayit Yap</a>
                        </div>
                		
                		
                	</div>
                </div>
        	</div>
        </div>
    </section>